<!DOCTYPE html>

<html lang="en">

  <%- include('../partials/head.ejs') %>

  <body>

    <%- include('../partials/nav.ejs') %>

    <div class="blog-posts content">
      <h2>All Blog Posts</h2>

      <% if (blogPosts.length > 0) { %>
        <% blogPosts.forEach((blog) => { %>
          <a class="single" href="/blog/<%= blog._id %>">
            <h3><%= blog.title %></h3>
            <p><%= blog.snippet %></p>
          </a>
        <% }) %>
      <% } else { %>
        <p>There are no blogs to display</p>
      <% } %>

    </div>

    <%- include('../partials/footer.ejs') %>

  </body>
</html>
